<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>
    <%- include('../public/style'); %>

    
</head>
<body>
    <nav class="nav"> 
        <a href="/"><%= name.HOME%></a>
        <ul>
            <li><a href="/"><%= name.HOME%></a></li>
            <li><a href='/contact'><%= name.CONTACT%></a></li>
            <li><a href='/serv'><%= name.SERV%></a></li>
        </ul>
    </nav>
        <h1>contact me</h1>
</body>
</html>